@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ZAPATILLAS</h1>
    <a asp-controller="Zapatillas" asp-action="Zapatillas" class="btn btn-info">INICIO</a>
</div>
